.keeptop{
    top: 0;
    position : fixed;
    width: 100%;
    z-index: 1;
}
.hero{
     background:linear-gradient(180deg, rgba(74, 71, 163, 0) 35.94%, #4A47A3 100%), url(header.png) fixed no-repeat ;
     background-size: cover;
     height: 38.4rem;
 
}
.hero-container{
    top: 161px;
}
.hero-text{
    text-shadow: 0px 5px 60px rgba(0, 0, 0, 0.7);
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    line-height: 57px;
}
.arrow{
    top: 98px;
}
.size{
    font-size: 24px;
    line-height: 28px;
}
.color{
    background: #AD62AA;
    border-radius: 5px;
}
.text-color{
    color: #413C69;
}
.sign-color{
    color: #AD62AA;
}
.register{
    background: linear-gradient(rgba(73, 10, 219, 0.863) 0%, rgba(98, 29, 226, 0.863) 95%);
}
.register-text h1{
    top: 40%;

}
/* Responsive attributes */

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    .hero-container{
        top: 90px;
    }
    .hero{
        background:linear-gradient(180deg, rgba(74, 71, 163, 0) 35.94%, #4A47A3 100%), url(header.png) fixed  no-repeat ;
        background-size: cover;
        background-position: center;
    
   }
   .arrow{
    top: 72px;
    }
  }

  @media only screen and (max-width: 360px){ 
    .arrow{
        top: 20px;
    }
 }

  @media (min-width: 768px) and (max-width: 768px) { 
      .arrow{
          top: 45px;
      }
   }

   @media (min-width: 320px) and (max-width: 320px) { 
    .arrow{
        top: -20px;
    }
 }

   @media (min-width: 375px) and (max-width: 375px) { 
    .arrow{
        top: 65px;
    }
 }
 @media (min-width: 414px) and (max-width: 414px) { 
    .arrow{
        top: 2px;
    }
 }
 @media (min-width: 411px) and (max-width: 411px) { 
    .arrow{
        top: 2px;
    }
 }

  